In [2]:
import pandas as pd
import statistics as sts
import numpy as np

In [3]:
dataset = pd.read_csv("tempo.csv", sep = ";")


dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [4]:
dataset.shape

(14, 5)

In [ ]:
dataset.groupby(dataset["Aparencia"]).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [9]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [ ]:
dataset.loc[dataset["Aparencia"]== "menos", "Aparencia"] = "sol"

In [11]:
dataset.groupby(dataset["Aparencia"]).size()

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [15]:
dataset["Temperatura"].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [23]:
dataset.loc[(dataset["Temperatura"]>130) | (dataset["Temperatura"] < -130)]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [ ]:
m = sts.median(dataset["Temperatura"])
m

73.5

In [28]:
dataset.loc[(dataset["Temperatura"]>130) | (dataset["Temperatura"] < -130), "Temperatura"] = m

dataset["Temperatura"].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [ ]:
dataset["Umidade"].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [35]:
dataset.loc[(dataset["Umidade"]<0) | (dataset["Umidade"]>100)]

  Aparencia  Temperatura  Umidade Vento Jogar  umidade
9     chuva         75.0    200.0   NaN   sim     85.5

In [36]:
m = sts.median(dataset["Umidade"])
m

85.5

In [37]:
dataset.loc[(dataset["Umidade"]<0) | (dataset["Umidade"]>100), "Umidade"] = m

In [38]:
dataset["Umidade"].describe()

count    13.000000
mean     80.961538
std       9.896257
min      65.000000
25%      70.000000
50%      85.000000
75%      90.000000
max      95.000000
Name: Umidade, dtype: float64

In [39]:
dataset.groupby(dataset["Jogar"]).size()

Jogar
nao    5
sim    9
dtype: int64

In [41]:
dataset.groupby(dataset["Vento"]).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [47]:
dataset.drop(["umidade"], axis=1, inplace = True)

In [48]:
dataset.groupby(dataset["Umidade"]).size()

Umidade
65.0    1
70.0    3
75.0    1
80.0    1
85.0    1
85.5    1
86.0    1
90.0    2
91.0    1
95.0    1
dtype: int64