In [1]:
import pandas as pd
import numpy as np

In [2]:
db = pd.read_csv("iris.csv")
db.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
db.shape

(150, 5)

In [5]:
np.random.seed(2345)
amostra = np.random.choice(a = [0, 1], size=150, replace=True, p=[0.7, 0.3])

print(len(amostra))
print(len(amostra[amostra==1]))
print(len(amostra[amostra==0]))

150
49
101

In [6]:
dbfinal = db.loc[amostra==0]
dbfinal.shape

(101, 5)

In [7]:
dbfinal = db.loc[amostra==1]
dbfinal.shape

(49, 5)