In [24]:
import pandas as pd
import numpy as np

In [5]:
dados = pd.read_csv("Credit.csv") #Ler os dados em csv

dados.shape #formato (matriz)

(1000, 21)

In [7]:
dados.describe() #resumo estatistico

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [8]:
dados.head() # 5 primeiras linhas

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [9]:
dados.tail(3)  # 3 ultimos registros

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [10]:
dados[["duration"]] #filtrar colunas

     duration
0           6
1          48
2          12
3          42
4          24
..        ...
995        12
996        30
997        12
998        45
999        45

[1000 rows x 1 columns]

In [15]:
dados.loc[1:3] #linhas 1 a 3

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good

In [17]:
dados.loc[[1,3]]#linhas 1 e 3

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good

In [19]:
dados.loc[dados["duration"]==48] # todos os dados com 48 na coluna duration

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
11,<0,48,'existing paid',business,4308,<100,<1,3,'female div/dep/mar',none,...,'life insurance',24,none,rent,1,skilled,1,none,yes,bad
36,'no checking',48,'critical/other existing credit',education,6110,<100,1<=X<4,1,'male single',none,...,'no known property',31,bank,'for free',1,skilled,1,yes,yes,good
44,<0,48,'critical/other existing credit','used car',6143,<100,>=7,4,'female div/dep/mar',none,...,'no known property',58,stores,'for free',2,'unskilled resident',1,none,yes,bad
63,0<=X<200,48,'no credits/all paid',business,14421,<100,1<=X<4,2,'male single',none,...,car,25,none,own,1,skilled,1,yes,yes,bad
115,'no checking',48,'critical/other existing credit',radio/tv,3578,'no known savings',>=7,4,'male single',none,...,'real estate',47,none,own,1,skilled,1,yes,yes,good
130,0<=X<200,48,'existing paid','new car',8487,'no known savings',4<=X<7,1,'female div/dep/mar',none,...,car,24,none,own,1,skilled,1,none,yes,good
145,0<=X<200,48,'all paid',business,3566,100<=X<500,4<=X<7,4,'male single',none,...,car,30,none,own,1,skilled,1,none,yes,good
191,0<=X<200,48,'no credits/all paid',business,3844,100<=X<500,4<=X<7,4,'male single',none,...,'no known property',34,none,'for free',1,'unskilled resident',2,none,yes,bad
226,0<=X<200,48,'existing paid',radio/tv,10961,>=1000,4<=X<7,1,'male single','co applicant',...,'no known property',27,bank,own,2,skilled,1,yes,yes,bad
242,<0,48,'no credits/all paid','used car',4605,<100,>=7,3,'male single',none,...,'no known property',24,none,'for free',2,skilled,2,none,yes,bad
272,0<=X<200,48,'all paid','new car',12169,'no known savings',unemployed,4,'male single','co applicant',...,'no known property',36,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
273,0<=X<200,48,'existing paid',radio/tv,3060,<100,4<=X<7,4,'male single',none,...,'real estate',28,none,own,2,skilled,1,none,yes,bad
286,<0,48,'existing paid','used car',4788,<100,4<=X<7,4,'male single',none,...,'life insurance',26,none,own,1,skilled,2,none,yes,good
287,0<=X<200,48,'delayed previously',other,7582,100<=X<500,unemployed,2,'male single',none,...,'no known property',31,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
294,'no checking',48,'critical/other existing credit',business,7629,'no known savings',>=7,4,'male div/sep',none,...,car,46,bank,own,2,'high qualif/self emp/mgmt',2,none,yes,good
295,0<=X<200,48,'existing paid',furniture/equipment,9960,<100,<1,1,'female div/dep/mar',none,...,car,26,none,own,1,skilled,1,yes,yes,bad
304,'no checking',48,'critical/other existing credit','new car',10127,500<=X<1000,1<=X<4,2,'male single',none,...,'no known property',44,bank,'for free',1,skilled,1,none,yes,bad
310,0<=X<200,48,'existing paid',other,5381,'no known savings',unemployed,3,'male single',none,...,'no known property',40,bank,'for free',1,'unemp/unskilled non res',1,yes,yes,good
333,'no checking',48,'critical/other existing credit','used car',11590,100<=X<500,1<=X<4,2,'female div/dep/mar',none,...,car,24,bank,rent,2,'unskilled resident',1,none,yes,bad
375,<0,48,'all paid',business,7685,<100,4<=X<7,2,'female div/dep/mar',guarantor,...,car,37,none,rent,1,skilled,1,none,yes,bad
444,0<=X<200,48,'critical/other existing credit',furniture/equipment,5096,<100,1<=X<4,2,'female div/dep/mar',none,...,car,30,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,bad
467,'no checking',48,'delayed previously',radio/tv,7238,'no known savings',>=7,3,'male single',none,...,car,32,bank,own,2,skilled,2,none,yes,good
522,<0,48,'no credits/all paid',furniture/equipment,7119,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
538,<0,48,'existing paid','new car',7763,<100,>=7,4,'male single',none,...,'no known property',42,bank,'for free',1,'high qualif/self emp/mgmt',1,none,yes,bad
549,'no checking',48,'critical/other existing credit','used car',8858,'no known savings',4<=X<7,2,'male single',none,...,'no known property',35,none,'for free',2,skilled,1,yes,yes,good
552,<0,48,'existing paid',radio/tv,6999,<100,4<=X<7,1,'male mar/wid',guarantor,...,'real estate',34,none,own,2,skilled,1,yes,yes,bad
568,0<=X<200,48,'existing paid',radio/tv,3979,'no known savings',4<=X<7,4,'male single',none,...,car,41,none,own,2,skilled,2,yes,yes,good
569,<0,48,'existing paid',radio/tv,6758,<100,1<=X<4,3,'female div/dep/mar',none,...,car,31,none,own,1,skilled,1,yes,yes,bad
615,0<=X<200,48,'no credits/all paid',business,12204,'no known savings',1<=X<4,2,'male single',none,...,car,48,bank,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
622,'no checking',48,'existing paid',business,3914,'no known savings',1<=X<4,4,'male div/sep',none,...,'real estate',38,bank,own,1,skilled,1,none,yes,bad
650,<0,48,'existing paid',education,7476,<100,4<=X<7,4,'male single',none,...,'no known property',50,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
657,'no checking',48,'existing paid',radio/tv,10222,'no known savings',4<=X<7,4,'male single',none,...,car,37,stores,own,1,skilled,1,yes,yes,good
667,'no checking',48,'all paid',business,3609,<100,1<=X<4,1,'female div/dep/mar',none,...,'real estate',27,stores,own,1,skilled,1,none,yes,good
701,<0,48,'critical/other existing credit','used car',6331,<100,>=7,4,'male single',none,...,'no known property',46,none,'for free',2,skilled,1,yes,yes,bad
706,0<=X<200,48,'existing paid','new car',6560,100<=X<500,4<=X<7,3,'male single',none,...,'life insurance',24,none,own,1,skilled,1,none,yes,bad
728,0<=X<200,48,'all paid',business,6416,<100,>=7,4,'female div/dep/mar',none,...,'no known property',59,none,rent,1,skilled,1,none,yes,bad
787,'no checking',48,'critical/other existing credit','used car',2751,'no known savings',>=7,4,'male single',none,...,car,38,none,own,2,skilled,2,yes,yes,good
788,0<=X<200,48,'delayed previously',education,6224,<100,>=7,4,'male single',none,...,'no known property',50,none,'for free',1,skilled,1,none,yes,bad
813,<0,48,'existing paid','domestic appliance',3051,<100,1<=X<4,3,'male single',none,...,car,54,none,own,1,skilled,1,none,yes,bad
814,<0,48,'existing paid','new car',3931,<100,4<=X<7,4,'male single',none,...,'no known property',46,none,'for free',1,skilled,2,none,yes,bad
829,0<=X<200,48,'delayed previously',business,6681,'no known savings',1<=X<4,4,'male single',none,...,'no known property',38,none,'for free',1,skilled,2,yes,yes,good
887,0<=X<200,48,'existing paid',business,15672,<100,1<=X<4,2,'male single',none,...,car,23,none,own,1,skilled,1,yes,yes,bad
915,0<=X<200,48,'no credits/all paid',other,18424,<100,1<=X<4,1,'female div/dep/mar',none,...,'life insurance',32,bank,own,1,'high qualif/self emp/mgmt',1,yes,no,bad
921,'no checking',48,'delayed previously',radio/tv,12749,500<=X<1000,4<=X<7,4,'male single',none,...,car,37,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
927,<0,48,'existing paid','used car',10297,<100,4<=X<7,4,'male single',none,...,'no known property',39,stores,'for free',3,skilled,2,yes,yes,bad
945,0<=X<200,48,'no credits/all paid','new car',8358,500<=X<1000,<1,1,'female div/dep/mar',none,...,car,30,none,own,2,skilled,1,none,yes,good
981,'no checking',48,'existing paid',business,4844,<100,unemployed,3,'male single',none,...,car,33,bank,rent,1,'high qualif/self emp/mgmt',1,yes,yes,bad

In [20]:
dados.loc[dados["credit_amount"]>18000]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
915,0<=X<200,48,'no credits/all paid',other,18424,<100,1<=X<4,1,'female div/dep/mar',none,...,'life insurance',32,bank,own,1,'high qualif/self emp/mgmt',1,yes,no,bad

In [22]:
credit = dados[["checking_status","duration"]].loc[dados["credit_amount"] > 18000]
print(credit)

    checking_status  duration
915        0<=X<200        48

In [23]:
s = pd.Series([1, 2,4,6,7,8,2])
print(s)

0    1
1    2
2    4
3    6
4    7
5    8
6    2
dtype: int64

In [25]:
n = np.array([2,3,4,678])
s = pd.Series(n)
print(s)

0      2
1      3
2      4
3    678
dtype: int64

In [31]:
dados.rename(columns={"duration":"duraçao", "purpose":"proposito"},inplace=True)
dados.head(1)

,checking_status,duraçao,credit_history,proposito,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good

In [41]:
dados.drop("credit_history",axis=1,inplace=True)
dados.head()

,duraçao,proposito,credit_amount,savings_status,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6,radio/tv,1169,'no known savings',4,'male single',none,4,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,48,radio/tv,5951,<100,2,'female div/dep/mar',none,2,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,12,education,2096,<100,2,'male single',none,3,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,42,furniture/equipment,7882,<100,2,'male single',guarantor,4,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,24,'new car',4870,<100,3,'male single',none,4,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [42]:
dados.isnull()
dados.isnull().sum()

duraçao                   0
proposito                 0
credit_amount             0
savings_status            0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [43]:
dados.dropna()

,duraçao,proposito,credit_amount,savings_status,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6,radio/tv,1169,'no known savings',4,'male single',none,4,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,48,radio/tv,5951,<100,2,'female div/dep/mar',none,2,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,12,education,2096,<100,2,'male single',none,3,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,42,furniture/equipment,7882,<100,2,'male single',guarantor,4,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,24,'new car',4870,<100,3,'male single',none,4,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,furniture/equipment,1736,<100,3,'female div/dep/mar',none,4,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,30,'used car',3857,<100,4,'male div/sep',none,4,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,12,radio/tv,804,<100,4,'male single',none,4,car,38,none,own,1,skilled,1,none,yes,good
998,45,radio/tv,1845,<100,4,'male single',none,4,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,45,'used car',4576,100<=X<500,3,'male single',none,4,car,27,none,own,1,skilled,1,none,yes,good

In [48]:
dados.iloc[0:3, 0:5]

,duraçao,proposito,credit_amount,savings_status,installment_commitment
0,6,radio/tv,1169,'no known savings',4
1,48,radio/tv,5951,<100,2
2,12,education,2096,<100,2

In [49]:
dados.iloc[[3, 45,67,876], 0:5]

,duraçao,proposito,credit_amount,savings_status,installment_commitment
3,42,furniture/equipment,7882,<100,2
45,11,'new car',1393,<100,4
67,12,'new car',1007,>=1000,4
876,18,radio/tv,1940,<100,3